body {
    margin: 0;
}

img {
    width: 400px;
    height: 400px;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 50px;
    box-shadow: 9px 12px 20px 0px;
}

.slider {
    border: 1px solid #e86814;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-item {
    position: relative;
    left: 0;
    display: flex;
    height: 400px;
    width: 1600px;
    transition: all 1s;
}

.container-btn {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.left,
.right {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #e86814;
    transition: all .1s;
}
.left:active,
.right:active {
    background-color: #000000;
    color: #e86814;
    border: 1px solid #e86814;
}
